body {
    font-family: Arial, sans-serif;
}

#game-container {
    width: 800px;
    margin: 40px auto;
    text-align: center;
}

#game-board {
    border-collapse: collapse;
}

#game-board td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

#player-selection {
    margin-top: 20px;
}

.game-piece {
    display: inline-block;
    margin: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
}

.game-piece img {
    width: 30px;
    height: 30px;
    margin: 10px;
}

#red-piece {
    background-color: #ff0000;
}

#green-piece {
    background-color: #00ff00;
}

#blue-piece {
    background-color: #0000ff;
}

#yellow-piece {
    background-color: #ffff00;
}